<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Matthew Schiffman</a></h1>
            <p>Data Scientist</p>
            <p>... or a different title, short personal statement  some such</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/#one">About Me</a></li>
                <li><a href="{{ site.baseurl }}/#two">Skills/Interests</a></li>
                <li><a href="{{ site.baseurl }}/#three">My Favorite Projects</a></li>
                 <li><a href="{{ site.baseurl }}/">Resume</a></li>
                <li><a href="{{ site.baseurl }}/#four">Contact</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

