<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span><img style= "max-width: 100%; padding: 10px 10px 0px 10px;" src="{{ site.baseurl }}/images/Matt-Logo.png" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Matthew Schiffman</a></h1>
            <p></p>
            
            <ul class="icons">
                
                <li><a href="https://www.linkedin.com/in/schiffmanmatt" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/someonenamedmatt" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:schiffman.matt@gmail.com " class="icon fa-envelope"><span class="label">Email</span></a></li>
                
            </ul>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="#one">About Me</a></li>
                <li><a href="#two">Skills</a></li>
                <li><a href="#three">Projects</a></li>
                 <li><a href="images/Matt_Resume.pdf">Resume</a></li>
                <li><a href="#four">Contact</a></li>
            </ul>
        </nav>
        <footer>
            <!-- <ul class="icons">
                
                <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                
            </ul> -->
        </footer>
    </section>

