<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span><img src="{{ site.baseurl }}/images/Matt-Logo.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Matthew Schiffman</a></h1>
            <p></p>
            
            <ul class="icons">
                
                <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                
            </ul>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/#one">About Me</a></li>
                <li><a href="{{ site.baseurl }}/#two">Skills</a></li>
                <li><a href="{{ site.baseurl }}/#three">Projects</a></li>
                 <li><a href="{{ site.baseurl }}/#four">Resume</a></li>
                <li><a href="{{ site.baseurl }}/#five">Contact</a></li>
            </ul>
        </nav>
        <footer>
            <!-- <ul class="icons">
                
                <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                
            </ul> -->
        </footer>
    </section>

